body {
  margin: 0;
  height: 100%;
}

/*
#experiment {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.leftSide, .rightSide {
  display: inline-block;
  white-space: normal;
}

.leftSide {
  background-color: gray;
  width: 50%;
}

.rightSide {
  background-color: teal;
  width: 50%;
  height: 50px;
}
*/

/* Start */

#operationsMenu {
  margin-left: 10px;
  padding: 50px;
}

#subForm {
  float: right;
}

#subForm input[type=text] {
  width: 50px;
  padding: 1px 2px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}



#formMix {
  float: right;
}
/* End */


/* Start Button Style */

button {
  display: block;
  margin-top: 10px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 20px;
  background: green;
  border: none;
}

button:hover {
  background: lightsalmon;
}

/* End Button Style */



/* Start Form Style */

input[type=text] {
  width: 20%;
  padding: 1px 2px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightblue;
}

select {
  width: 12%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-align: center;
}

#timeDuration {
  width: 70px;
}

/* End Form Style */