body {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 25px;
    height: 100%;
    overflow:hidden;
    color: #73EEDC;
}

#title {
    background-color: #F3F3F3;
}

#title h1 {
    text-align: center;
    font-size: 500%;
    color: #5F1A37;
}


#start {
    background-color: #F3F3F3;
}

#start button {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #768687;
    color: #04030F;
}

#col1 {
    height: 850px;
    border: solid thin darkgrey;
    overflow:scroll;
    background-color: #F3F3F3;
}

#col1 h3 {
    color: #04030F;
}

#col1 button {
    background: #768687;
    color: #04030F;
    margin-bottom: 10px;
}

#col2 {
    height: 850px;
    border: solid thin darkgrey;
    overflow:scroll;
    background-color: #F3F3F3;
}

#col3 {
    height: 850px;
    border: solid thin darkgrey;
    overflow:scroll;
    background-color: #F3F3F3;
}

#whereToPrint {
    margin-top: 10px;
    background: #F3F3F3;
}

/*
div.header button {
    display: inline;
    margin-top: 10px;
    line-height: 20px;
    font-weight: bold;
    padding: 0 15px;
    background: silver;
    border: 1px solid darkslategray;
    border-radius: 50px;
}



div.leftside {
    float:left;
    width:49%;
    border: solid thin darkgrey;
    height: 850px;
    overflow:scroll;
}

div.rightside {
    float:left;
    width:49%;
    border: solid thin darkgrey;
    height: 850px;
    overflow:scroll;
}

#menu {
    margin-top: -25px;
    margin-left: -50px;
    display: block;
    padding: 0;
}


/*

#experiment {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.leftside {
  display: inline-block;
  white-space: normal;
}

.leftside {
  background-color: gray;
  width: 50%;
}


.rightside {
  background-color: teal;
  width: 50%;
  height: 50px;
}
*/

/* Start */

/*

#operationsMenu {
    margin-left: 10px;
    padding: 50px;
}

#subAddForm {
    float: left;
}

#subAddFormForm input[type=text] {
    width: 50px;
    padding: 1px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


#mixtureform {
    width: 60%;
}

#heat_form {
    width: 50%;
}

#cool_form {
    width: 50%;
}

#formMix {
    float: right;
}

#store_form {
    width: 50%;
}

#output_form {
    width: 50%;
}

#split_form {
    width: 50%;
}

#detect_form {
    width: 50%;
}

#startExperiment {
    width: 10%;
}


/* End */


/* Start Button Style */

button {
    display: block;
    margin-top: 15px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 20px;
    background: silver;
    border: 1px solid darkslategray;
    border-radius: 50px;
}

button:hover {
    background: darkgray;
}

/* End Button Style */



/* Start Form Style */
/*
#substanceremoval {
  float: right;
}
*/

.substanceDrop {
    width: 75px;
    background-color: lightblue;
}

input[type=text].volumeInput {
    width: 30px;
}

input[type=text] {
    /*width: 80px;*/
    padding: 1px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: lightblue;
}

select {
    width: 75px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #73C2BE;
    text-align: center;
}

#timeDuration {
    width: 70px;
}

/* End Form Style */

