/* Start Page Style */

#container-fluid {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:scroll;
}

#title {
    background-color: #F3F3F3;
}

#title h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 450%;
    color: #04030F;
    background-color: #F3F3F3;
}

#start {
    background-color: #F3F3F3;
}

#start button {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #768687;
    color: #04030F;
}

#col1 {
    height: 700px;
    border: solid thin darkgrey;
    overflow:hidden;
    background-color: #F3F3F3;
}

#col1 h3 {
    color: #04030F;
}

#col1 button {
    background: #768687;
    color: #04030F;
    margin-bottom: 10px;
}

#col2 {
    height: 700px;
    border: solid thin darkgrey;
    overflow:scroll;
    background-color: #F3F3F3;
}

#col3 {
    height: 700px;
    border: solid thin darkgrey;
    overflow:scroll;
    background-color: #F3F3F3;
}

#whereToPrint {
    display: block;
    font-family: monospace;
    padding: 9.5px;
    margin: 10px 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: break-word;
    background-color: transparent;
    border: 1px solid #ccc;;
    border-radius: 4px;
}

/* End Page Style border: */


/* Start Form Style */
.substanceDrop {
    width: 85px;
    background-color: lightblue;
}

input[type=text].volumeInput {
    width: 30px;
}

input[type=text] {
    /*width: 80px;*/
    padding: 1px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: lightblue;
}

select {
    width: 75px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #73C2BE;
    text-align: center;
}

#timeDuration {
    width: 70px;
}

/* End Form Style */

